
/*Universersal Styling Accross All Platforms*/

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #4d4d4d;

}

ul {
	list-style-type: none;
}

body {
	background-color: #F8F8F8;
	line-height: 1.4;
}



/*============================Header Styles==============================*/

.main-header li{
	display: block;
	background-color: #FFF;
	margin-bottom: .3em;
	text-align: center;
	margin-right: 1em; 
	padding: .7em;	
}

.main-header {
	width: 99%;
	margin-bottom: 3em;
}

.main-header a {
	display: block;
}

.main-header {
	text-align: center;
	color: #303030;
	font-family: 'Fira Sans', sans-serif;
}

.main-header li {
	font-weight: bold;
}

.main-header a {

	display: block;

}


.container h3 {
	text-align: center;
	font-family: 'Fira Sans', sans-serif;
	
}

.introduction img {
	position: relative;
	height: 170px;
	width: 250px;
	margin-left: 1em;
	margin-bottom: .5em;
}



.introduction p {
	text-align: center;
	overflow-wrap: normal;
	margin-bottom: 2.5em;
	padding-left: 1em;
	padding-right: 1em;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 16px;
	font-weight: lighter;
	color: #808080;

}

/*============================container styles==============================*/


.container figcaption {
	font-weight: bold;
	text-align: center;
}

.container h3 {
	text-align: center;
	font-size: 17px;
	color: #505050;
}

.container {
	background-color: #FFFFFF;
	width: 95%;
	margin: 0 auto;
}

.container h3{

	padding-top: 2.5em;
	padding-bottom: 2em;
}


/*============================Column styles==============================*/


.project img {
	height: 165px;
	width: 290px;
}


.project  {
	display: block;
	
}


.project figcaption {
	padding-top: 1em;
	padding-bottom: .5em;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #606060;
	font-size: 17px;

}

.project p {
	padding-bottom: .5em;
	font-family: 'Noto Sans', sans-serif;
	font-size: 16px;

}


/*============================Contact Styles==============================*/


.contact {
	text-align: center;
	font-size: 17px;
	font-family: 'Fira Sans', sans-serif;
}

.contact h4 {
	color: #505050;
	font-family: 'Fira Sans', sans-serif;
	

}

.contact p {
	text-overflow: ellipsis;
	padding-left: 1em;
	padding-right: 1em;
	font-family: 'Fira Sans', sans-serif;
}

.numbers-email {
	padding-top: 1em;
	padding-bottom: .5em;
	text-align: center;
	font-size: 17px;
	font-family: 'Fira Sans', sans-serif;

}

.second-contact {
	padding-bottom: 3.5em;
	font-size: 17px;
	font-family: 'Fira Sans', sans-serif;
}


/*============================Clearfix Snippet==============================*/


.clearfix:after {
	content: ".";
	display: block;
	clear: both;
}



/*============================Footer Styles==============================*/

.main-footer {
	border-top: .1px solid #DCDCDC;
	margin-left: 5%;
	margin-right: 5%
	
}


.student {
	background-color: #F8F8F8;
	margin-bottom: .3em;
	text-align: center;
	margin-right: 1em; 
	padding: .7em;

}

.to-top {
	background-color: #F8F8F8;
	margin-bottom: .3em;
	text-align: center;
	margin-right: 1em; 
	padding: .7em;
	float: right;
}

.student,
.to-top {
	display: inline-block;
	font-family: 'Fira Sans', sans-serif;
	font-weight: bold;
}


.extended-nav {
	display: none;
}



/*============================Media Queries==============================*/


/*For Tablets & low Resolution Desktops*/
@media (min-width: 768px) {
/*
	a:hover {
	color: #0000FF;
	}
*/

	.main-header li{
		display: inline-block;
		background-color: #F8F8F8;
		margin-bottom: .3em;
		text-align: center;
		margin-right: 1em; 
		padding: .7em;
	}

	.main-header a {
		display: block;
	}

	.container {
		width: 100%;

	}

	.introduction {
		width: 97%;
		vertical-align: top;
	}

	.introduction img {
		float: right;
		width: 40%;
		padding-right: 5em;
		padding: .8em;
		height: 100%;
	}

	.introduction p {
		padding-left: 1em;
		width: 60%;
		font-size: 1.3em;
		text-align: left;
		padding-top: 2em;
	}


	.col {
		padding: 1em;
	}

	.project {
		width: 50%;	
		float: left;
		padding: 1em;
		margin: auto;
		flex: 1 290px;
		max-width: 370px;
	}

	.col img {
		height: 190px;
		width: 360px;
	}

	.to-top {
		display: none;
	}

	.student,
	.extended-nav {
	display: inline-block;
	}
	.extended-nav {
	float: right;
	}

	.extended-nav li {
	display: inline-block;
	background-color: #F8F8F8;
	margin-bottom: .3em;
	text-align: center;
	margin-right: 1em; 
	padding: .7em;
	font-weight: bold;
	}


	.container h3 {
	padding-top: 1.5em;
	}

	strong {
	padding-left: .7em;
	}
}

/*For Desktops & larger screens*/
@media (min-width: 1024px) {

	.introduction p {
		margin-left: 10px;
		text-align: left;
		padding: 5em;
	}

	.name,
	.main-nav {
		display: inline-block;
	}

	.name {
		width: 50%;
		float: left;
		text-align: left;
		padding-left: 110px;
	}
	
	.main-nav {
		float: right;
		width: 50%;
		text-align: right;
	}

	.container {
		width: 90%;
	}

	.project {
		flex: 1 290px;
		max-width: 370px;
		width: 33.33%;	
		float: left;
		padding: .005em;
		margin: auto;
		margin-left: -13px;
	}

	.project img {
	height: 160px;
	width: 260px;
	}

	.student {
		margin-left: 13px;
	}

}















